@model RegisterViewModel
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Outh.cshtml";
}

<div class="main-w3layouts wrapper">
	<h1>Creative SignUp Form</h1>
	<div class="main-agileinfo">
		<div class="agileits-top">
			<form action="Register" method="post">
				<input class="text " asp-for="FName" placeholder="First Name" required="">
				<input class="text " asp-for="LName" placeholder="Last Name" required="">
				<input class="text email" asp-for="Email" placeholder="Email" required="">
				<input class="text" asp-for="Password" placeholder="Password" required="">
				<input class="text w3lpass"asp-for="ConfirmedPassword" placeholder="Confirm Password" required="">
				<div class="wthree-text">
					<label class="anim">
						<input type="checkbox" class="checkbox" asp-for="IsAgree">
						<span>I Agree To The Terms & Conditions</span>
					</label>
					<div class="clear"> </div>
				</div>
				<input type="submit" value="SIGNUP">
			</form>
			<p>Don't have an Account? <a asp-action="Login"> Login Now!</a></p>
		</div>
	</div>
	
@section  ClintSideValidation{

	<partial name="_ValidationScriptsPartial" />
}

