@model RoleViewModel
@{
    ViewData["Title"] = "Details";
}


<div class="form-group">
    <label asp-for="Id" class="col-form-label"></label>
    <input asp-for="Id" class="form-control" readonly />
</div>
<div class="form-group">
    <label asp-for="Role" class="col-form-label"></label>
    <input asp-for="Role" class="form-control"  readonly/>
</div>



